fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6
websockets==12.0
python-dotenv==1.0.0
alembic==1.12.1
pydantic
opencv-python>=4.8.0.0
